// Colours
$color-white: #ffffff;
$color-black: #000000;

$color-black-header: #201a16;
$color-black-text: #4a4a4a;
$color-black-icons: #222222; 
$color-black-overlay: #2e2e2e;

$color-dark-grey: #d6d6d6;




