*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; // 1rem = 10px  10px / 16px = 62.5%;
}

body {
    box-sizing: border-box;    
}

.header {

    &--banner {
        height: 56vh; 

        @media (max-width: 767.98px) {
            height: 30vh;
        }       
    }

    &--plain {
        background: $color-black-header;
        height: 15vh;
    }

    &--home {
        background: $color-black-header center / cover no-repeat url("../img/gcbrideandgroom.jpg");        
    }

    &--weddings {
        background: $color-black-header center / cover no-repeat url("../img/berkshire_wedding_photographer_GJ_Full.jpg");
    }
}

.logo-img {
    width: 100%;
}

// navigation
.navbar {
    background: none !important; 
}

.navbar-brand {
    width: 30%; 

    @media (max-width: 767.98px) {
        width: 50%;
    }    
}

.navbar-dark .navbar-toggler {
    border-color: $color-white;
    color: $color-white;
    font-size: 1.65rem; 
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-collapse {
    flex-basis: 100% !important;  

    @media (max-width: 767.98px) {
        background: $color-black;
        z-index: 2;

        position: absolute;
        top: 6rem;
        left: 1rem;
        width: 95%;
        padding: 1rem;        
    }
}

.dropdown-menu {
    background: $color-black;
}

.dropdown-item {
    background: $color-black;
    color: $color-white;

    &:active,     
    &:hover { 
        background: $color-black-icons;
        color: $color-white;
    }
} 

.col {
    align-self: center; 
    margin: 3rem 0;  
}

.col > img {
    width: 100%;   
}

.col-card {
    text-align: center;

    & > p {
        margin-bottom: 2.8rem; 
    }

    // everything up to this with will have a margin of 5rems applied to it's bottom
    @media (max-width: 991.98px) {
        margin-bottom: 5rem;
    }    
}

.section {

    &--centered {
        text-align: center;
    }

    &--large-padding {
        padding: 10rem 0 3rem;

        @media (max-width: 767.98px) {
            padding-top: 3rem; 
        }           
    }

    &--engagement-banner {
        background: $color-dark-grey center / cover no-repeat url("../img/bucks-wedding-photographer-eng-rings.jpg"); 
        text-align: center; 
    }

    &--get-in-touch-banner {
        background: $color-dark-grey center / cover no-repeat url("../img/bucksengagementphotography-3.jpg");
        text-align: center;
    }

    &--social {
        background: $color-dark-grey;  
    }
}

.opaque-background {
    background: rgba($color-black, .4); 
    height: 100%;
}

.social-list {
    display: flex;
    list-style: none;
    justify-content: center;  
    margin-bottom: 0;
    padding: 3rem 0;
}

.footer {
    background: $color-black; 
    padding: 6rem 0;
}

.footer-list {
    
    &__item {
        margin-bottom: 2rem; 
    }
}