*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; // 1rem = 10px  10px / 16px = 62.5%;
}

body {
    box-sizing: border-box;    
}

.header {
    background: $color-black center / cover no-repeat url("../img/gcbrideandgroom.jpg");
    height: 68vh;
    padding: 1.3rem 0;
}

.logo-img {
    width: 70%;
}

// navigation
.navbar {
    background: none !important; 
}

.dropdown-menu {
    background: $color-black;
}

.dropdown-item {
    background: $color-black;
    color: $color-white;
}

.col-card {
    text-align: center;

    & > p {
        margin-bottom: 2.8rem; 
    }

    // everything up to this with will have a margin of 5rems applied to it's bottom
    @media (max-width: 991.98px) {
        margin-bottom: 5rem;
    }    
}

.section {

    &--small-top-padding {
        padding-top: 3rem;
    }

    &--small-bottom-padding {
        padding-bottom: 3rem;
    }

    &--medium-top-padding {
        padding-top: 6rem;
    }

    &--medium-top-padding {
        padding-bottom: 6rem;
    }

    &--large-top-padding {
        padding-top: 10rem;
    }

    &--large-bottom-padding {
        padding-bottom: 10rem; 
    }    

    &--centered {
        text-align: center;
    }

    &--engagement-banner {
        background: $color-dark-grey center / cover no-repeat url("../img/bucks-wedding-photographer-eng-rings.jpg"); 
        text-align: center; 
    }

    &--social {
        background: $color-dark-grey;   
    }
}

.opaque-background {
    background: rgba($color-black, .4);
}

.social-list {
    display: flex;
    list-style: none;
    justify-content: center;  
    margin-bottom: 0;
    padding: 3rem 0;
}

.footer {
    background: $color-black; 
    padding: 6rem 0;
}

.footer-list {
    
    &__item {
        margin-bottom: 2rem; 
    }
}