body {
    color: $color-black-text;
    font-family: 'Dosis', sans-serif;
    font-size: 1.8rem; 
    letter-spacing: 0.05rem;
}

h1 {
    text-transform: uppercase;
}

h1, h2, h3 {
    text-align: center;
}

.social-list {

    &__icon {
        background: $color-black-icons; 
        border-radius: 1.7rem; 
        height: 3.2rem; 
        line-height: 3.1rem;
        margin: 0 0.4rem;
        text-align: center;
        width: 3.2rem;
    }

    &__icon:hover {
        background: rgba($color-black-icons, .5);
    }

    &__link:link,
    &__link:visited {
        color: $color-dark-grey; 
        font-size: 1.7rem; 
    }  
}

.footer {
    color: $color-white; 
    text-align: center;
}